<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f4f6;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fdc704;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .scoredisplay {
            margin-bottom: 20px;
        }
        .scoredisplay p {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }
        .scoredisplay span {
            font-size: 18px;
            color: #666;
        }
        .message {
            font-size: 20px;
            color: #0c0c0c;
            margin-bottom: 20px;
        }
        .button {
            padding: 10px 20px;
            background-color: #151515;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="scoredisplay">
            <p>You have scored <span><%= score %>/<%= data.length %></span></p>
        </div>
        <% if (score >= 7) { %>
            <p class="message">Congratulations! You passed the quiz.</p>
        <% } else { %>
            <p class="message">Sorry! You didn't pass the quiz. Better luck next time.</p>
        <% } %>
        <button class="button" onclick="window.location.href = `/test`">Try Again</button>
    </div>
</body>
</html>